{% extends 'base.html' %}

{% block title %} {{product.name}} {% endblock %}


{% block content %}
<div class="product-individual-recipe">
    <h1>{{product.name}}</h1>
    <p> {{product.desc}}</p>
    <p> By {{product.author}}</p>
    <img class= "circleimageindi" src="{{product.image.url}} " height="200" width="200" />
    
    <div class = "rcornersinfo2">
        <div><h2> {{ product.calories}} </h2> 
        <strong><p> CALORIES </p> </strong>  </div>
        <div><h2> {{ product.carbs}}  </h2> 
        <strong><p> CARBS </p> </strong></div>
        
        <div><h2> {{ product.protein}}</h2> 
        <strong><p> PROTEIN </p> </strong></div>
        
        <div><h2> {{ product.fats}}  </h2> 
        <strong><p> FATS </p> </strong></div>
        
        
        </div> 
    
        
    
        
        <br>
    

       <p> {{product.allergens}}</p>
        <form action= "/likerecipe/{{product.id}}" method="POST" class="ui-form">
        <input type='hidden' name='post_id' value = "{{product.id}}" >
        {% if user not in product.liked.all %}
       <button  class="btn btn-light  btn-lg" type="submit">Like</button>
       {% else %}
       <button class="btn btn-light  btn-lg"type="submit">UnLike</button>
       {% endif %}
       </form>
       <p> {{ product.liked.all.count }} likes </p>
    </p>

    <div id="instructions">

        <h2> Times </h2>
        <h2> Prep: {{product.cook_time}} Minutes <br> Cook: {{product.prep_time}} Minutes <br>  Serve: {{product.serving_size}}</p></h2> 
        <h2> Ingredients</h2>
        <p> {{product.ingredients}}</p>

        <h2> Method </h2>
        <p> {{product.method}}</p>
   
   

    </div>
    </div>




{% endblock %}